<div class="post" {{bindAttr id="htmlId"}}>
    <h3>{{title}}</h3>
    {{createdAt}}
    <div class="content">{{body}}</div>
    <br/>
    {{#each tag tags}}
        {{tag.name}}
    {{/each}}
    <br/>
    <br/>
    {{ log this }}
    <ul class="unstyled">
        {{#each comment in comments}}
            <li>{{comment.content}}</li>
        {{else}}
            Noch keine Kommentare
        {{/each}}
    </ul>
</div>